.our_documentation {
    width: 1120px;
    height: 880px;
    margin: 270px auto 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 4;
}

.o_d-text {
    width: 1120px;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
}

.o_d-text1 {
    color: #FF2D59;
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0;
    text-align: center;
}

.o_d-text2 {
    color: #111029;
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 42px;
    line-height: 56px;
    letter-spacing: -0.1px;
    text-align: center;
}

.group {
    width: 1120px;
    height: 660px;
    z-index: 3;
}

.gp_img {
    position: absolute;
    z-index: 3;
    transition: transform 0.5s ease;
}

.gp_img:hover {
    transform: scale(0.99);
}

.bg_img1 {
    z-index: 0;
    position: absolute;
    margin-left: -240px;
    transform: scale(1.07);
}

.bg_img2 {
    z-index: 1;
    position: absolute;
    margin-top: -16.5px;
    margin-left: 809px;
    transform: scale(1.01);
}

.o_d-content {
    width: 100%;
    height: 900px;
    margin-top: 200px;
    background-color: #F9F9FD;
    display: flex;
    justify-content: center;
    align-items: center;
}

.od-content {
    width: 74%;
    height: 702px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.od-content1 {
    width: 580px;
    height: 690px;
    display: flex;
    justify-content: space-between;
}

.c1_1, .c1_2 {
    width: 270px;
    height: 640px;
}

.c1_1 {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.c1_2 {
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.c-card {
    width: 270px;
    height: 300px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 25px 100px rgba(76, 64, 247, 0.08);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease;
}

.c-card:hover {
    transform: scale(1.03);
}

.card-c {
    width: 214px;
    height: 156px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    color: black;
}

.cc {
    width: 214px;
    height: 188px;
}

.h {
    font-size: 56px;
    letter-spacing: -0.4px;
    line-height: 72px;
    font-weight: 600;
    cursor: default;
}

.k7 {
    color: #4C40F7;
}

.m1 {
    color: #FF2D59;
}

.n1 {
    color: #FF6800;
}

.n2 {
    color: #4ADB61;
}

.q {
    font-size: 18px;
    letter-spacing: 0;
    line-height: 32px;
    font-weight: 400;
    color: #111029;
    cursor: default;
}

.od-content2 {
    width: 460px;
    height: 702px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.c2-text1 {
    width: 460px;
    height: 216px;
    font-weight: 600;
    font-size: 56px;
    line-height: 72px;
    letter-spacing: -0.4px;
    color: #111029;
}

.c2-text2 {
    width: 460px;
    height: 128px;
    font-family: Poppins;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0px;
    color: #6B6B6B;
}

.c2-ts {
    width: 460px;
    height: 288px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.ts {
    display: flex;
    width: 460px;
}

.ts-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0px;
    color: #6B6B6B;
    margin-left: 5%;
}

/* Темная тема */
@media (prefers-color-scheme: dark) {
    .o_d-text1 {
        color: #FFCC00;
    }

    .o_d-text2 {
        color: #ffffff;
    }

    .o_d-content {
        background-color: #020E2D;
    }

    .c-card {
        background-color: #4C40F7;
    }

    .k7, .q {
        color: #ffffff;
    }

    .q {
        opacity: 0.7;
    }

    .c2-text1, .c2-text2, .ts-text {
        color: #FFFFFF;
    }
}