* {
    margin: 0;
}

.pg {
    border: solid 1px black;
    height: 11053px;
    background-color: white;
    font-family: "Poppins", sans-serif;
}

/* Темная тема */
@media (prefers-color-scheme: dark) {
    .pg {
        background-color: #00113B;
    }
}